html, body{
   overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("assets/stars.png");
    display:block;
    background-size: cover;
    background-repeat: no-repeat; 
  
}

#displayTime{
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    color: white;
    position: absolute;
}

#displayCoords {
    padding-top: 1rem;
    padding-left: 0.75rem;
    color: white;
    position: absolute;
}

#sliderContainer{
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    width: 80%;
    margin-bottom: 2rem;
}

#slider{
    height: 2rem;
    border-radius: 5px;
    height: 1rem;
    width: 100%;
    border-radius: 1rem;
}
